@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
        <li>Tsvirinkal Nazar</li>
        <li>CEs-25-1 Khmelnytskyi National University</li>
        <li>Board games store</li>
    </ol>
</div>
